* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  padding: 1rem;
  margin-top: 2rem;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

h2 {
  font-size: 1.5rem;
  color: #fff;
}

h5 {
  font-size: 1.2rem;
  color: red;
}

p {
  font-size: 1rem;
  color: #fff;
}

span {
  font-size: 1rem;
  color: #fff;
}

label {
  font-size: 1rem;
  color: #fff;
}

a {
  text-decoration: none;
  color: #15ea38;
  font-size: 1.2rem;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #907e7e;
  outline: none;
}

input::placeholder {
  color: #907e7e;
  font-weight: bold;
}

input:hover {
  border-color: #15ea38;
  transition: background-color 0.3s ease;
}

select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #907e7e;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #15ea38;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}
